List of UTM campaigns.xlsx
track-attribution-design.txt
How to set up attribution tracking in ActiveCampaign.docx
BPW contacts with no utm parms-20200211_145013.csv
attribution-tracking-AC-original.js
attribution-tracking-AC-LF500-original.js
~$List of UTM campaigns.xlsx
*.txt
*.docx
*.doc
*.csv
*.xlsx

